<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Aaron Liberatore</string>
		<key>favoriteLanguage</key>
		<string>Python</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jackson Eckert</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alan Yan</string>
		<key>favoriteLanguage</key>
		<string>JavaScript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arjun Devarajan</string>
		<key>favoriteLanguage</key>
		<string>Python</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stephanie Engle</string>
		<key>favoriteLanguage</key>
		<string>HTML</string>
	</dict>
	<dict>
		<key>name</key>
		<string>David Boyer</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Joseph Jacob</string>
		<key>favoriteLanguage</key>
		<string>Swift</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Andrew Bihl</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Daniel Chai</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Billy Wan</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Will Rollins</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Will Rollins</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Trip Goff</string>
		<key>favoriteLanguage</key>
		<string>Python</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cameryn Steiger</string>
		<key>favoriteLanguage</key>
		<string>JavaScript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Joyce Choi</string>
		<key>favoriteLanguage</key>
		<string>None</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Krista Opsahl-Ong</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rica Zhang</string>
		<key>favoriteLanguage</key>
		<string>None</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Andy Chen</string>
		<key>favoriteLanguage</key>
		<string>Python</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucy Zhang</string>
		<key>favoriteLanguage</key>
		<string>None</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jessica Reese</string>
		<key>favoriteLanguage</key>
		<string>Python</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bill Xiong</string>
		<key>favoriteLanguage</key>
		<string>C</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Katherine Zhou</string>
		<key>favoriteLanguage</key>
		<string>None</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sam Goodman</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jerry Chang</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yumin Zhang</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethan Lampert</string>
		<key>favoriteLanguage</key>
		<string>Python</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Minyoung Ryoo</string>
		<key>favoriteLanguage</key>
		<string>Matlab</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bryan Wang</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thomas Li</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ben Reisner</string>
		<key>favoriteLanguage</key>
		<string>Python</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kristianna Elbert</string>
		<key>favoriteLanguage</key>
		<string>JavaScript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mitchell Kim</string>
		<key>favoriteLanguage</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nicholas Danyluk</string>
		<key>favoriteLanguage</key>
		<string>Matlab</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jihane Bettahi</string>
		<key>favoriteLanguage</key>
		<string>Python</string>
	</dict>
</array>
</plist>
